body {
  background-color: rgb(210, 226, 217);
}

.image-box {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
  display: inline;
  align-items: center;
}

.app {
  margin: 20px;
  padding: 20px;
}

img {
  width: 250px;
  height: 250px;
  padding: 5px;
  margin: 5px;
}

.dropdown {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
